 <div class="row no-margin-bottom">
  <div class="col m12">
    <h3>Corte de caja</h3>
  </div>

  <div class="row container">
    <div class="col m12">
      <table class="corte-table">
        <thead>
          <tr>
            <th>Descripción</th><th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Monto previo en caja</td><td>$200</td>
          </tr>
          <tr>
            <td>Ingresos</td><td>$170</td>
          </tr>
          <tr>
            <td>Saldos pendientes</td><td>$20</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <form class="form_corte col m6 offset-m3">
      <div class="row">
        <div class="col m1 offset-m2">
          <p>$</p>
        </div>
        <div class="col m7 center">
          <input class="center" placeholder="350.00" id="monto_corte" type="number" class="validate">
          <label for="monto_corte">Monto actual en caja</label>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col m9">
      <a class="waves-effect waves-light btn green darken-1 wide-btn valign-wrapper" href="logout.php">Enviar corte</a>
    </div>
    <div class="col m3">
      <a class="waves-effect waves-light btn light-blue darken-1 wide-btn valign-wrapper" href="principal.php"><i class="material-icons bigger-icon">home</i></a>
    </div>
  </div>
</div>
