<div class="container">
	<div class="row">
		<div class="col l10 m10">
			<blockquote class="center">
				<h4>Introduce tu email</h4>
			</blockquote>
             <form method="post" action="send_mail.php">
             	<p>Se enviarán instrucciones a tu correo</p>
        		<input type="text" name="mail_to" placeholder="Correo electrónico" required> <br><br>
            	<button type="submit" class="btn waves-effect waves-light small-font brown lighten-3 center"> Enviar </button>
        	</form>
         </div>
     </div>
 </div>