<div class="row no-margin-bottom">
	<div class="col m12">
		<div class="row no-margin-bottom">
			<div class="col m12 big-scrollable-table">
				<?=$table?>
			</div>
		</div>

		<div class="row">
			<div class="col m4">
				<a class="waves-effect waves-light btn orange darken-1 wide-btn valign-wrapper" href="principal.php">Ok</a>
			</div>
			<div class="col m8">
				<a class="waves-effect waves-light btn green darken-1 wide-btn valign-wrapper" href="pago.php">Pagar</a>
			</div>
		</div>
	</div>
