<main>
 	<div class="container">
 		<div class="section">
 			<div class="row">
 				<div class="col-12">
 					<table class="centered big-table">
 						<thead>
 							<tr>
 								<th>Fecha de compra</th>
 								<th>Artículo</th>
 								<th>Cantidad</th>
 								<th>Precio</th>
 								<th>Total</th>
 							</tr>
 						</thead>
 						<tbody>
 							<tr>
 								<td>18 de febrero del 2019</td>
 								<td>Postre 2</td>
 								<td>1</td>
 								<td>$15</td>
 								<td>$15</td>
 							</tr>
 							<tr>
 								<td rowspan="2">21 de febrero del 2019</td>
 								<td>Comida 1</td>
 								<td>2</td>
 								<td>$20</td>
 								<td>$40</td>
 							</tr>
 							<tr>
 								<td>Bebida 2</td>
 								<td>1</td>
 								<td>$10</td>
 								<td>$10</td>
 							</tr>
 							<tr>
 								<td></td><td></td><td></td><td></td><td><strong>$65</strong></td>
 							</tr>

 						</tbody>
 					</table>
 				</div>
 			</div>
 		</div>
 	</div>

 	<div class="row">
 		<div class="col s12 push-s8">
 			<button class="btn waves-effect waves-light brown lighten-3" type="submit" name="action">Abonar
 				<i class="material-icons right">monetization_on</i>
 			</button>
 			<img src="../img/paypal.gif">
 		</div>

 	</div>
 </main>
