<div class="row no-margin-bottom">
	<div class="col m9">
		<div class="row">
			<div class="col m12 big-scrollable-table">
				<a href="modificar_pedido.php">
					<?=$table?>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col m12">
				<a class="waves-effect waves-light btn green darken-1 wide-btn valign-wrapper">Pagar total</a>
			</div>
		</div>
	</div>

	<div class="col m3">
		<div class="row">
			<div class="col m12">
				<a class="waves-effect waves-light btn light-blue darken-1 wide-btn valign-wrapper" href="principal.php"><i class="material-icons bigger-icon">home</i></a>
			</div>
		</div>

		<div class="row">
			<div class="col m12">
				<a href="pago.php?opcionPago=fiar" class="waves-effect waves-light btn red darken-1 large-btn valign-wrapper">Fiar total</a>
			</div>
		</div>

		<div class="row">
			<div class="col m12">
				<a class="waves-effect waves-light btn lime darken-1 large-btn valign-wrapper">Otra cantidad</a>
			</div>
		</div>
	</div>
</div>
