<div class="row no-margin-bottom">
	<div class="col m11">
		<div class="row">
			<div class="col m12">
				<table class="centered big-table">
					<thead>
						<tr>
							<th>Usuario</th>
							<th>Clave</th>
							<th>Artículo</th>
							<th>Cantidad</th>
							<th>Hora de entrega</th>
							<th>Estatus</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Salvador Espinosa</td>
							<td>0149</td>
							<td>Bebida 1</td>
							<td>1</td>
							<td>7:00</td>
							<td><a href="#"><i class="medium material-icons icon-lime">check_box</i></a></td>
						</tr>
						<tr>
							<td>Sandra Román</td>
							<td>0126</td>
							<td>Postre 2</td>
							<td>1</td>
							<td>10:00</td>
							<td><a href="#"><i class="medium material-icons icon-lime">check_box</i></a></td>
						</tr>
						<tr>
							<td>Alejandro Gleason</td>
							<td>0123</td>
							<td>Comida 4</td>
							<td>2</td>
							<td>11:30</td>
							<td><a href="#" id="checkbox"><i id="noentregado" class="medium material-icons icon-red">check_box_outline_blank</i></a></td>
						</tr>
						<tr>
							<td>Ulises Almaguer</td>
							<td>0132</td>
							<td>Bebida 1</td>
							<td>1</td>
							<td>13:00</td>
							<td><a href="#"><i class="medium material-icons icon-red">check_box_outline_blank</i></a></td>
						</tr>
						<tr>
							<td>Brenda Rivera</td>
							<td>0128</td>
							<td>Bebida 2</td>
							<td>1</td>
							<td>13:40</td>
							<td><a href="#"><i class="medium material-icons icon-red">check_box_outline_blank</i></a></td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>

	</div>

</div>
