<br>

<section>
 <div class="container">
   <div class="row">
     <div class="col s12 m10 l8">
      <div>
       <br>
       <h5><strong> <i class="material-icons prefix">create</i>Modificar Producto </strong></h5>
       <div class="input-field col m10 offset-m1">
        <i class="material-icons prefix search-icon">search</i>
        <input type="text" id="productos_search" name="productos_search" onkeyup="sendModificarProducto()">
        <label for="productos_search" class="search-label">Buscar</label>
      </div>
      <div class="col s12 scroll" id="searchResults" name="searchResults"></div>
      </div>
      <div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><hr><br>
        <h5><strong> <i class="material-icons prefix">add_circle</i>Agregar Producto </strong></h5>
        <form>
            <label for="nameP">Nombre</label>
            <input type="text" id="nombre" name="nombre" placeholder="Ej: Latte" onkeyup="validarNombre();">
            <span id="namePWrong" style="color:red"> </span>
            <br><br>
            <label for="description">Descripción</label>
            <input type="text" id="descripcion" name="descripcion" placeholder="Ej: Bebida caliente a base de café" onkeyup="validarDescripcion();">
            <span id="descriptionWrong" style="color:red"> </span>
            <br><br>
            <div class="row">
                <div class="input-field col s6">
                    <label for="price">Precio</label>
                    <input type="number" id="precio" name="precio" placeholder="Ej: 25" onkeyup="validarPrecio();">
                    <span id="priceWrong" style="color:red"> </span>
                </div> 
                <div class="input-field col s6">
                      <select id="categorias" name="categorias">
                        <option value="" disabled selected>Elegir una opción</option>
                        <option value="1" id="comida" name="comida">Comida</option>
                        <option value="2" id="bebida" name="bebida">Bebida</option>
                        <option value="3" id="postre" name="postre">Postre</option>
                      </select>
                      <label>Categoría del Producto</label>
                </div> 
            </div>
            <div class="switch">
              <label>
                Disponible
                <input disabled type="checkbox">
                <span class="lever"></span>
                No Disponible
              </label>
            </div>
        </form>
        <div class="container center">
          <br><br>
          <div id="resultado"></div>
          <div class="container"><span id="submitWrong" style="color:red"> </span></div>
          <a  id="submit" name="submit" class="btn waves-effect waves-light brown lighten-1" onclick="insertProducto();">Agregar</a>
        </div>
      </div>
     </div>
     <div class="col s12 m6 l4">
       <img src="../img/imo.jpeg" alt="IMO logo" class="center">
     </div>
   </div>
 </section>
       <style>
        .scroll
        	{
        	width:200px;
        	height:300px;
        	overflow: auto;
        	}
        	button{
        	 width:100px;
        	}
      </style>
      
      <script type="text/javascript">
        function loadTodo() {
            sendModificarProducto();
        }
       window.onload = loadTodo;
       setInterval(loadTodo,1000);
      </script>
      
      
      