<div class="row no-margin-bottom">
	<div class="col m9">
    <div class="prod-btn-container">
        <?=$botonesProductos?>
    </div>
		<div class="row">
			<div class="col m12">
				<a class="waves-effect waves-light btn orange darken-1 wide-btn valign-wrapper" href="principal.php">Ok</a>
			</div>
		</div>
	</div>

	<div class="col m3">
		<div class="row no-margin-bottom">
			<a href="modificar_pedido.php">
				<div class="col m12 big-scrollable-table">
					<?=$table?>
				</div>
			</a>
		</div>

		<div class="row">
			<div class="col m12">
				<a class="waves-effect waves-light btn green darken-1 wide-btn valign-wrapper" href="pago.php">Pagar</a>
			</div>
		</div>
	</div>
</div>
