<br>
<main>
	<section>
		<div class="container">
			<div class="row">
				<div class="col s12 push-s3">
					<button class="btn waves-effect waves-light brown lighten-3">Reporte del día</button>
					<!-- Dropdown Trigger -->
					<a class='dropdown-trigger btn brown lighten-3' href='#' data-target='dropdown1'>Reporte Mensual</a>
					<!-- Dropdown Structure -->
					<ul id='dropdown1' class='dropdown-content'>
						<li><a href="#!" class="drop-content">Enero</a></li>
						<li><a href="#!" class="drop-content">Febrero</a></li>
						<li><a href="#!" class="drop-content">Marzo</a></li>
						<li><a href="#!" class="drop-content">Abril</a></li>
						<li><a href="#!" class="drop-content">Mayo</a></li>
						<li><a href="#!" class="drop-content">Junio</a></li>
						<li><a href="#!" class="drop-content">Julio</a></li>
						<li><a href="#!" class="drop-content">Agosto</a></li>
						<li><a href="#!" class="drop-content">Septiembre</a></li>
						<li><a href="#!" class="drop-content">Octubre</a></li>
						<li><a href="#!" class="drop-content">Noviembre</a></li>
						<li><a href="#!" class="drop-content">Diciembre</a></li>
					</ul>

					<!-- Dropdown Trigger -->
					<a class='dropdown-trigger btn brown lighten-3' href='#' data-target='dropdown2'>Reporte Anual</a>
					<!-- Dropdown Structure -->
					<ul id='dropdown2' class='dropdown-content'>
						<li><a href="#!" class="drop-content">2018</a></li>
						<li><a href="#!" class="drop-content">2019</a></li>
						<li><a href="#!" class="drop-content">2020</a></li>
						<li><a href="#!" class="drop-content">2021</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</main>
